.gotdot/editor/editor_layout.cfg
.
### Promotional images ###

/assets/promotional/*.png

# Created by https://www.gitignore.io/api/linux,godot,emacs,windows
# Edit at https://www.gitignore.io/?templates=linux,godot,emacs,windows

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

### Linux ###

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Custom files
/git_bash_here.bat

# End of https://www.gitignore.io/api/linux,godot,emacs,windows
.godot/editor/back.mp3-368edc175930c9d0c3f98f15cee2d6ab.mp3str-folding-573da1c58dfca5544b1e9bc3352d3208.cfg

.godot/editor/editor_layout.cfg

.godot/editor/filesystem_update4

.godot/editor/script_editor_cache.cfg

.godot/uid_cache.bin

.godot/editor/title_screen.tscn-folding-22e59c4ebacac7a9e73c1ffd541bda9a.cfg

.godot/editor/volumegamesound.mp3-52bce1b1104c2a765e4aeb78f69fc134.mp3str-folding-eadbb1c4a38f382f14e793ae9198f4f8.cfg

.godot/editor/title_screen.tscn-folding-0568a95c14ac200f1c655e5ce178e4ef.cfg

.godot/editor/title_screen.tscn-editstate-22e59c4ebacac7a9e73c1ffd541bda9a.cfg

.DS_Store

.godot/editor/loadgamesound.mp3-79506b43acda151ec85abf97a23f2f15.mp3str-folding-2efb43deda940c6dc007693cd34b181c.cfg

.godot/editor/New Game.gd-folding-95b9239a62e2f467fcd6ccb6f10d8bb4.cfg

.godot/editor/newgamesound.gd-folding-4bf2a3f336d31fc0e4711f4be7ac179d.cfg

.godot/editor/newgamesound.mp3-4b29a318042c61e08e16eff12a16135a.mp3str-folding-483c61106faee5dbb50dea22e5a65eff.cfg

.godot/editor/optiongamesound.mp3-58134aa723aa3643daebb023f65674c5.mp3str-folding-9d691883951a092fcf8be70587d24ec5.cfg

.godot/editor/options_screen.gd-folding-4e8af54db6f8009f1f5f1f35f96939a5.cfg

.godot/editor/options_screen.gd-folding-d93be9b560338fd8e5cd9b050e95375d.cfg

.godot/editor/options_screen.tscn-editstate-8fc721ecf0e2d0d0103ef8bcb58c6789.cfg

.godot/editor/options_screen.tscn-editstate-fd178d22dda0fc38141c21de9b3da93f.cfg

.godot/editor/options_screen.tscn-folding-8fc721ecf0e2d0d0103ef8bcb58c6789.cfg

.godot/editor/options_screen.tscn-folding-fd178d22dda0fc38141c21de9b3da93f.cfg

.godot/editor/quit.mp3-f74e27fc8c1466e182937d4755205be3.mp3str-folding-614c1871a925a9c7acdc8954b9d20642.cfg

.godot/editor/resizegui.mp3-7d4f01b537a23605a661fbcc1ad49972.mp3str-folding-b76e29e463963c23dc097f5aa8990eaa.cfg

.godot/editor/test.tscn-editstate-0457a5fd16b52088d35c29b327028c5f.cfg

.godot/editor/test.tscn-editstate-f0a4ea32b72b64218d23e48a955cbc61.cfg

.godot/editor/test.tscn-folding-0457a5fd16b52088d35c29b327028c5f.cfg

.godot/editor/test.tscn-folding-f0a4ea32b72b64218d23e48a955cbc61.cfg

.godot/editor/title_screen.tscn-editstate-0568a95c14ac200f1c655e5ce178e4ef.cfg

.godot/editor/Title-Screen.gd-folding-432491a3ae3a7c86c3d214aaaf8caffe.cfg

.godot/editor/Title-Screen.gd-folding-b80b83e3270a71ec6d403d3bb29e7511.cfg

.godot/imported/back.mp3-368edc175930c9d0c3f98f15cee2d6ab.md5

.godot/imported/back.mp3-368edc175930c9d0c3f98f15cee2d6ab.mp3str

.godot/editor/Button Containers.gd-folding-2743525916e52c84d890e14974427a39.cfg
